{% extends mmc_user_layout %}

{% trans_default_domain 'MMCUserBundle' %}

{% block mmc_user_content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <p class="login-box-msg">{{ 'security.login.sign_in_title'|trans }}</p>

    {{ form_start(form) }}
        <div class="form-group has-feedback">
            {{ form_widget(form._username, {'attr': {'class': 'form-control' , 'placeholder' : 'placeholder.email'|trans }}) }}
            {{ form_errors(form._username) }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form._password, {'attr': {'class': 'form-control' , 'placeholder' : 'placeholder.password'|trans }}) }}
            {{ form_errors(form._password) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="checkbox icheck">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
            </label>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans }}</button>
            </div>
            <div class="col-md-6">
                <a href="{{ path('mmc_user.register') }}" class="btn btn-default btn-block btn-flat">{{ 'security.login.register'|trans }}</a>
            </div>
        </div>
     {{ form_end(form) }}


     <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>

{% endblock mmc_user_content %}
