{% extends mmc_user_layout %}

{% trans_default_domain 'MMCUserBundle' %}

{% block title_content %}
    Register{{ login_title_suffix|default('MMC') }} | Sign in
{% endblock title_content %}

{% block login_logo %}
    <div class="login-logo">
        <a href="{{ path('mmc_user.login') }}"><b>Register</b>MMC</a>
    </div>
{% endblock login_logo %}

{% block mmc_user_content %}

    {{ form_start(form) }}
        <div class="form-group has-feedback">
            {{ form_widget(form.email, {'attr': {'class': 'form-control' , 'placeholder' : 'Email'}}) }}
            {{ form_errors(form.email) }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' , 'placeholder' : 'Password'}}) }}
            {{ form_errors(form.plainPassword.first) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder' : 'Repeat Password'}}) }}
            {{ form_errors(form.plainPassword.second) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
    {{ form_end(form) }}

{% endblock mmc_user_content %}
